.card1{
      max-width: 25rem;
      background-color:black;
      border: 1px solid white;
      padding: 1rem;
      margin: 1rem auto;
      color: beige;
      font-family:sans-serif;
      border-radius: 5%;
      font-size: large;
}
.container1{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}