*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body{
      padding: 1rem;
}

.card{
      width: 400px;
      background-color:yellow;
      border: 1px solid brown;
      /* color: white; */
      margin: 1rem auto;
      padding: 1rem;
      border-radius: .75rem;
}